<p-toolbar class="mb-4">
  <!-- LEFT -->
  <ng-template #start>
    <h2 class="text-3xl font-bold text-gray-700">
      Deceased List
    </h2>
  </ng-template>

  <!-- RIGHT -->
  <ng-template #end>
    <p-button
      label="New Funeral Contract"
      icon="pi pi-user-plus"
      severity="success"
      (onClick)="openNewFuneralContract()"
    ></p-button>
  </ng-template>
</p-toolbar>

<app-deceased-table (contractSelected)="onContractSelected($event)"></app-deceased-table>
<p-dialog
  [(visible)]="dialogVisible"
  [modal]="true"
  [style]="{ width: '100vw', height: '100vh' }"
  [maximizable]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
>

  <ng-template pTemplate="header">
    <div class="flex items-center justify-between w-full   text-black px-5 py-4 rounded-t">

      <!-- Left -->
      <div class="flex flex-col">
        <span class="text-2xl font-bold">
          {{ selectedContract ? 'Edit' : 'Create' }} Funeral Service Contract
        </span>
        <span class="text-sm text-gray-300">
          Complete all required fields to proceed
        </span>
      </div>



    </div>
  </ng-template>

  <app-funeral-contract-entry [selectedContract]="selectedContract"></app-funeral-contract-entry>

</p-dialog>