<div class="expenses-table-container">
	<app-table-helper
		[value]="expenses"
		[columns]="columns"
		[loading]="loading"
		[rows]="10"
		[rowsPerPageOptions]="[10, 20, 50]"
		[showRowHover]="true"
		[dataKey]="'id'"
		[globalFilterFields]="globalFilterFields"
		[showGlobalFilter]="true"
		[showClearButton]="true"
		[showPrintButton]="true"
		[showExportButton]="true"
		[exportFileName]="'expenses-ledger'"
		[printTitle]="'Expenses Ledger'"
		(onSearch)="onSearch($event)"
	>
		<ng-template #rowActions let-row>
			<div class="row-actions">
				<button
					pButton
					type="button"
					icon="pi pi-pen-to-square"
					label="Edit"
					class="p-button-text p-button-sm"
					(click)="onEdit(row)"
				></button>
				<button
					pButton
					type="button"
					icon="pi pi-trash"
					label="Delete"
					class="p-button-text p-button-danger p-button-sm"
					(click)="onDelete(row)"
				></button>
			</div>
		</ng-template>
	</app-table-helper>
</div>
